.banner {
    background-color: #E3F0D0;
    padding-top: 100px !important;
}

.main-title {
    font-size: 72px;
    font-weight: 900;
    color: var(--green);
}

.img-fluid.overlay {
    position: absolute;
    bottom: -220px;
    z-index: -1;
}

.img-fluid.leaves {
    position: absolute;
    top: 70%;
    left: -150px;
    transform: translateY(-50%);
}


/*  Top Selling Products */
.section-title {
    font-size: 36px;
    font-weight: 900;
    color: var(--green);
    margin-bottom: 30px;
}

.topSelling.py-5 {
    margin-top: 250px;
}

.btn-outline-green {
    color: var(--green);
    border: 2px solid var(--green);
}

.btn-outline-green:hover {
    background-color: var(--green);
    color: var(--white);
    border: 2px solid var(--green);
}

.card-title {
    font-size: 24px;
    font-weight: 600;
}

.border-gray {
    border: 1px solid var(--border);
}

.topSelling.py-5 .card:hover {
    box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.1);
}

/* signup */
.signup-title {
    font-size: 52px;
    color: var(--green);
    font-weight: 600;
}

.img-fluid.coffeeBeans {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 150px;
}

.fs-44 {
    font-size: 44px;
}

.text-green.quote {
    font-size: 100px;
    font-family: roboto;
    line-height: 10px;
    vertical-align: middle !important;
    display: inline;
}

.fs-60 {
    font-size: 60px;
}

.getProduct {
    background-color: #E3F0D0;
    padding: 100px 0;
}